<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="KontaktDB2010"
      connectionString="Data Source=EZEKIELL-DELL;Initial Catalog=2010;Persist Security Info=True;User ID=admin;Password=Passw0rd"
      providerName="System.Data.SqlClient" />
    <add name="KontaktDB2011"
      connectionString="Data Source=EZEKIELL-DELL;Initial Catalog=2011;Persist Security Info=True;User ID=admin;Password=Passw0rd"
      providerName="System.Data.SqlClient" />-->
    <add name="KontaktDB2010"
      connectionString="Data Source=localhost\SQLExpress;Initial Catalog=kontakt2010;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="KontaktDB2011"
      connectionString="Data Source=SRV2008KAPO\SQLExpress;Initial Catalog=kontakt2011;Integrated Security=false;password=gryf;user id=gryf"
      providerName="System.Data.SqlClient" />-->
    <add name="KontaktDB2011"
      connectionString="Data Source=localhost\SQLExpress;Initial Catalog=kontakt2011_1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!--<add key="TemplatesDirectory" value="D:\Projects\Kontakt-SK\kody\Templates\" />-->
    <add key="TemplatesDirectory" value="C:\Projects\Git\Templates\" />
    <add key="UsagesDirectory" value="C:\Projects\Git\Templates\Usages\" />
    <!--<add key="SaveGeneratedFile" value="yes" />-->
  </appSettings>
</configuration>
