<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="StatisticsEntities" connectionString="metadata=res://*/StatisticsModel.csdl|res://*/StatisticsModel.ssdl|res://*/StatisticsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Kontakt2011;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Kontakt.DAL.Properties.Settings.Kontakt2011ConnectionString"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=Kontakt2011;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>